{% extends 'base.html.twig' %}

{% block title %}Vos commande{% endblock %}

{% block body %}
    <section>
         <h2 class="display-5" style="padding: 30px">Commande n°{{commande.id | raw}} de <a href="/administration/client/{{commande.client.id}}">{{commande.client.Civilite.AbreviationCivilite}} {{commande.client.NomClient}} {{commande.client.PrenomClient}}</a><i class="fa fa-shopping-basket"></i></h2>
         <div id="contenu_panier">
            {% if commande is null or commande.commandeArticles|length == 0  %}
            <div id="panier_vide">
                <p style="text-align:center">Votre commande est vide !</p>
            </div>
            {% else %}
            <div id="header_commande" style="padding-left:15px">
                <form action="{{path('adminModifCommande')}}" method="post">
                    <p class="lead">La commande a été passé le {{commande.createdAt|date('d-m-Y')}}. <br />
                        Le mode d'expédition choisi est : {{commande.ModeExpedition.Libelle}}. <br />
                        Le mode de paiement choisi est : {{commande.ModePaiement.Libelle}}. <br />
                        <input type="hidden" name="commande" />
                        La commande est-elle reglée ? :  <select class="form-control" name="select_reglement_commande" id="select_reglement_commande" style="width:25%">
                                                        {% if commande.EstRegle == true %}
                                                            <option value="1">Oui</option>
                                                        {% else %}
                                                            <option value="0">Non</option>
                                                            <option value="1">Oui</option>
                                                        {% endif %} 
                                                        </select>
                        Statut de la commande : <select class="form-control" name="select_statut_commande" id="select_statut_commande" style="width:25%">
                                                    <option value="{{commande.StatutCommande.id}}">{{commande.StatutCommande.LibelleStatut}}</option>
                                                    {% for statut in statuts %}
                                                        {% if statut.id != commande.StatutCommande.id %}
                                                        <option value="{{statut.id}}">{{statut.LibelleStatut}}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                    </p>
                    <button type="submit" class="btn btn-primary">Modifier la commande</button>
                    <br /><br />
                </form>
            </div>
            <div id="tableau_commande">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Article</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Prix total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set MontantTotal = 0 %}
                        {% for commandeArticle in commande.commandeArticles %}
                            {% set MontantTotal = MontantTotal + commandeArticle.article.PrixUnitaireTTC * commandeArticle.Quantite %}
                            <tr>
                                <td><a href="/article/{{commandeArticle.article.id}}">{{commandeArticle.article.NomArticle | raw}}</a></td>
                                <td>{{commandeArticle.Quantite | raw}}</td>
                                <td>{{commandeArticle.article.PrixUnitaireTTC}}€</td>
                                <td>{{commandeArticle.article.PrixUnitaireTTC * commandeArticle.Quantite}}€</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
                <p class="lead" style="padding-left:15px">Le montant total de la commande s'élève à {{MontantTotal}}€</p>
            </div>
            {% endif %}
        </div>
    </section>

    
<script>
    document.querySelector('[name=commande]').value = {{commande.id}};
</script>
{% endblock %}
