{% extends 'base.html.twig' %}

{% block title %}HomeCraft : Votre panier{% endblock %}

{% block body %}
    <div id="entete_panier">
        <h2 class="display-5" style="padding: 30px">Votre panier <i class="fa fa-shopping-basket"></i></div>
    </div>
    <section class="jumbotron" onLoad="affichage()">
        <div id="contenu_panier">
            {% if panier is null %}
            <div id="panier_vide">
                <p style="text-align:center">Votre panier est vide !</p>
            </div>
            {% else %}
            <div id="tableau_panier" style="display: inline-block; width:70%; padding-right:10px">
                <div id="adresse">
                    <label for="custom-select">Votre adresse de livraison/facturation : </label><br />
                    {{form_start(formAdresseLivraison)}}
                    {{form_end(formAdresseLivraison)}}
                </div>
                <div id="modePaiement">
                    <label for="custom-select">Sélectionner le mode de paiement : </label><br />
                    <select class="custom-select" id="selectModePaiement"  onChange="affichage()">
                        <!--<option selected="">Open this select menu</option>-->
                        {% for modePaiement in modesPaiement %}
                            <option value="{{modePaiement.id}}">{{modePaiement.Libelle}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="modeExpedition">
                    <label for="custom-select">Sélectionner le mode d'expédition : </label><br />
                    <select class="custom-select" id="selectModeExpedition">
                        <!--<option selected="">Open this select menu</option>-->
                        {% for modeExpedition in modesExpedition %}
                            <option value="{{modeExpedition.id}}">{{modeExpedition.Libelle}}</option>
                        {% endfor %}
                    </select>
                </div>       
            </div>
            <div class="card text-white bg-primary" style="float:right; width:30%">
                <div class="card-header" style="font-weight:bold;">PANIER</div>
                    <div id="recap_panier" style="margin:auto; padding:10px;">
                        <ul>
                        {% set prixTotalPanier = 0 %}
                        {% for panierArticle in panier.panierArticles %}
                            {% set prixTotalPanier = prixTotalPanier + panierArticle.article.PrixUnitaireTTC * panierArticle.Quantite %} 
                            <li>
                                {{panierArticle.article.NomArticle | raw}} en {{panierArticle.Quantite | raw}} exemplaire(s) : {{panierArticle.article.PrixUnitaireTTC * panierArticle.Quantite}}€
                            </li>
                        {% endfor %} 
                        </ul>
                        
                    </div>
                    <div class="card-body" style="margin:auto; padding-top:10px">
                        <p><strong>Montant total de votre panier : {{prixTotalPanier}}€</strong></p>
                        {% if panier.panierArticles|length != 0 %}
                        <a href="{{path('CreationCommande')}}">
                            <button class="btn btn-success">Passer la commande</button>
                        </a>
                        <a href="{{path('panier')}}">
                            <button class="btn btn-secondary">Retour au panier</button>
                        </a>
                        {% else %}
                        <p><font color="black"><strong>Votre panier est vide, il faut au moins 1 article</strong></font></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <script>
        function affichage(){
            //Si c'est remise en main propre on affichage du texte au lieu de l'adresse
            if (document.getElementById("selectModeExpedition").value = 1) {

            }
        }    
    </script>
{% endblock %}
