{% extends 'base.html.twig' %}

{% block title %}Notre catalogue{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/css/styleListe.css">{% endblock %}
{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-grids"> 
                    {% for categorie in categories %}
                    <div class="grid" style="height:317px">
                        <div class="entry-body">
                            <span class="cat"></span>
                            <h3><a href="{{ path('article_blog', {'id': categorie.id}) }}">{{categorie.Nom}}</a></h3>
                            <div class="entry-media">  
                                <a href="{{ path('article_blog', {'id': categorie.id}) }}">    
                                    {% if categorie.PhotoCategorie|length != 0 %} 
                                        <img src="data:image/jpg;base64,{{categorie.PhotoCategorie|first.PhotoCategorie}}" alt="{{categorie.PhotoCategorie|first.DescriptionPhotoCategorie}}" href="{{ path('article_blog', {'id': categorie.id}) }}" width="400px" height="250px">
                                    {% else %}
                                        <img src="http://placehold.it/400x250" alt="">
                                    {% endif %}     
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
    </div>
</section>
{% endblock %}
