{% extends 'base.html.twig' %}

{% block title %}HomeCraft : Votre panier{% endblock %}

{% block body %}
    <div id="entete_panier">
        <h2 class="display-5" style="padding: 30px">Votre panier <i class="fa fa-shopping-basket"></i></div>
    </div>
    <section class="jumbotron">
        <div id="contenu_panier">
            {% if panier is null or panier.panierArticles|length == 0  %}
            <div id="panier_vide">
                <p style="text-align:center">Votre panier est vide !</p>
            </div>
            {% else %}
            <div id="tableau_panier" style="display: inline-block; width:70%; padding-right:10px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Article</th>
                            <th scope="col">Quantité</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Prix total</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for panierArticle in panier.panierArticles %}
                            <tr>
                                <td><a href="/article/{{panierArticle.article.id}}">{{panierArticle.article.NomArticle | raw}}</a></td>
                                <td>{{panierArticle.Quantite | raw}}</td>
                                <td>{{panierArticle.article.PrixUnitaireTTC}}€</td>
                                <td>{{panierArticle.article.PrixUnitaireTTC * panierArticle.Quantite}}€</td>
                                <td><a href="{{path('SupprArticlePanier', {"id": panierArticle.article.id})}}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> 
            </div>
            <div class="card text-white bg-primary" style="float:right; width:30%">
                <div class="card-header" style="font-weight:bold;">PANIER</div>
                    <div id="recap_panier" style="margin:auto; padding:10px;">
                        <ul>
                        {% set prixTotalPanier = 0 %}
                        {% for panierArticle in panier.panierArticles %}
                            {% set prixTotalPanier = prixTotalPanier + panierArticle.article.PrixUnitaireTTC * panierArticle.Quantite %} 
                            <li>
                                {{panierArticle.article.NomArticle | raw}} en {{panierArticle.Quantite | raw}} exemplaire(s) : {{panierArticle.article.PrixUnitaireTTC * panierArticle.Quantite}}€
                            </li>
                        {% endfor %} 
                        </ul>
                        
                    </div>
                    <div class="card-body" style="margin:auto; padding-top:10px">
                        <p><strong>Montant total de votre panier : {{prixTotalPanier}}€</strong></p>
                        {% if panier.panierArticles|length != 0 %}
                        <a href="{{path('PassageCommande')}}">
                            <button class="btn btn-success">Passer la commande</button>
                        </a>
                        <a href="{{path('DeletePanier')}}">
                            <button class="btn btn-secondary">Supprimer la totalité du panier</button>
                        </a>
                        {% else %}
                        <p><font color="black"><strong>Votre panier est vide, il faut au moins 1 article</strong></font></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
